body {
font-family: century gothic;
letter-spacing: 2px;
background-image: url("img/tumblr_6ebe08722255f835a7b48e6b66b29fd4_75174486_500.webp");
background-size: cover;
display: grid;
justify-items: center;
}

#timeContainer {
display: grid;
grid-template-columns: repeat(4, 90px);
place-content: center;
height: 240px;
margin: 200px;
width: 500px;
border-radius: 50px;
border: 5px solid rgb(228, 222, 222);
place-items: center;
background-color: #c95790;
}

#timeDisplay {
grid-column: 1 / -1;
font-size: 50px;
color: #d0bbd8;
}

.timerButton {
width: 80px;
height: 32px;
color: white;
background-color: #b33f62;
border: 1px solid white;
border-radius: 20px;
font-family: century gothic;
letter-spacing: 0.5px;
font-size: 20px;
}

#lapContainer {
display: grid;
justify-items: center;
text-align: center;
width: 220px;
height: 85vh;
min-width: 390px;
}

#lapContainer ul {
padding: 0;
height: 58vh;
width: 90%;
list-style: none;
overflow-y: auto;
overflow-x: hidden;
}

@media only screen and (max-width: 680px) {

#timeContainer {
display: grid;
width: 90vw;
height: 100px;
grid-template-columns: repeat(4, 64px);
width: 90vw;
height: 100px;
}
}

#timeDisplay {
font-size: 60px;
}

.timerButton{
width: 60px;
height: 28px;
text-align: center;
font-size: 1rem;
padding: 0;
}

#lapContainer {
display: grid;
justify-items: center;
width: 92vw;
height: 65vh;
text-align: center;
min-width: 290px;
}

#lapContainer ul {
padding: 0;
height: 63vh;
width: 80%;
}
